### Project ###
/stars-reproduction-source
/stars-reproduction-source.zip
/analysis-result-logs
/compared-results/*
/serialized-results/*

!serialized-results/baseline/
!serialized-results/baseline-all/

**/.gradle
**/build
.idea
/.idea/
/sumoData/*
/postEvaluation/*

!/sumoData/paperExample
!/sumoData/experiment
!/sumoData/highwayTraffic
!/sumoData/manualTesting/
!/sumoData/fcdReplay/fcdReplay.add.xml
!/sumoData/fcdReplay/fcdReplay.rou.xml
!/sumoData/fcdReplay/fcdReplay.sumocfg
!/sumoData/gridHighway.net.xml