### Project ###
/stars-reproduction-source
/stars-reproduction-source.zip
/analysis-result-logs
/compared-results/*
/serialized-results/*

!serialized-results/baseline/
!serialized-results/baseline-all/

**/.gradle
**/build
.idea
/.idea/
/sumo_data
/post-evaluation
!sumo_data/gridTrafficScenarios/vTypes.add.xml
!sumo_data/gridTrafficScenarios/grid_highway.net.xml
!sumo_data/gridTrafficScenarios/manual_testing/